@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

p, h1, h2, h3, h4, h5, ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

input {
  font-family: 'Inter', sans-serif;
}
button {
  font-family: 'Inter', sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-out;-webkit-text-fill-color: #fff !important;
  transition-delay: 9999s;
}
::-ms-reveal {
  display: none;
}